<header>

<mat-toolbar color="primary" >
  <a class="text-white text-decoration-none" routerLink="">
  <h1>
    AR Platform
  </h1>
  </a>
  <span class="fill-space"></span>
  <div class="">
  <nav class="" *ngIf="!(loggedIn$ | async)">
        <button mat-button routerLink="/login" routerLinkActive="active">Login</button>
        <button mat-button routerLink="/register" routerLinkActive="active">Register</button>
  </nav>
  <nav class="" *ngIf="(loggedIn$ | async)">
    <button mat-button routerLink="/dashboard">Dashboard</button>
    <button mat-button routerLink='/books/add'>Add Book</button>
    <button mat-button routerLink='/content/add'>Add Content</button>
  <!--   <button mat-button routerLink='/notifications'>Notifications</button>
    <button mat-button routerLink='/settings'>Settings</button> -->
    <button mat-button (click)="logout()">Logout</button>
  </nav>
  </div>

</mat-toolbar>

</header>
