<div class="page-content">
    <h1>LIVRA Android App</h1>

<p>When you download and open our ‘Livra’ app you will be guided to the main menu with 6 buttons on screen. Without any books and content added you can’t enjoy the great experience provided by it.
</p>

<h3>Adding Books</h3>

<p>You can add books and content to your library in two separate methods. Those are  by scanning the book's barcode or by searching the book's title.
</p>
<h4>Using barcode</h4>
<ol>
	<li>	To use this method you should have the book physically or an image of the book's barcode.</li>
	<li>	Click the ‘Add Book’ button to start adding books.</li>
	<li>	Align Book’s barcode within the camera box until a beep sound comes through.It is better to have more light on the barcode for quick recognition.</li>
	<li>	App will show you the ISBN of the book when the barcode is detected.</li>
	<li>	Select Search For Details and It will take a small time to search in our database.</li>
	<li>	You can see the details of the book if the book is available on our system.</li>
	<li>	If there is any AR content available the number of models will be displayed below.</li>
	<li>	Click ‘View AR content’. The button will be diabled if there is no content in the database.</li>
	<li>	Select the content you want to download and select Download Content.</li>
	<li>	Now the content will be downloaded and the book will be added to your library.</li>
</ol>
<h4>Using book title</h4>
<ol>
	<li>	Select Add Book as in the previous option.</li>
	<li>	Without scanning the barcode you can click the ‘Search Database’ button.</li>
	<li>	Type the title or part of title of the book you want to search for.</li>
	<li>	Click the search button and wait for the results to appear.</li>
	<li>	Select a book from results and proceed to the next step. </li>
	<li>	Refer from step 7 in the previous option.</li>
</ol>

<h3>
    Library
</h3>
<p>
You can access all downloaded books and content through the library. To go to the library just click the ‘My Library’ button on the menu.
</p>
<ol>
	<li>	You can search a book by its title from the search bar.</li>
	<li>	If you long click a book the book will be selected and highlighted. Now you can click the ‘Remove’ button in red to delete the whole book or models of the book as required.</li>
	<li>	Click a book to enter the AR view of that book.</li>
</ol>

<h3>AR View</h3> 

Here you can experience the content downloaded previously. 
<ol>
	<li>	To place a model first you have to find a horizontal plane from your surroundings.</li>
	<li>	Hold the phone still until the camera detects a plane and display scattered dots around that plane.</li>
	<li>	Now you can select a model from the bottom panel and touch on the detected plane to place it.</li>
	<li>	Generated model will have a shrinking animation indicating that it is the current selected model.</li>
	<li>	A 3D transformation button will appear in the top corner. By clicking it the transformation panel will drop down. From there you can scale up, down, rotate and deselect the selected model.</li>
	<li>	You can place any number of models in the scene. By clicking any model it will be selected. To remove a model from the scene you have to select it and click the red delete button at the top.</li>
	<li>	If the model you placed is animated (indicated by the ⏩ icon on the model card) you can select an animation from the animation dropdown.</li>
</ol>
<h3>
    Text Detection</h3>
Text detection is another functionality available in our app.
<ol>
	<li>	First you have to hold the text in front of the camera and click the capture button in the text detection interface.</li>
	<li>	All detected text will be displayed with three buttons at the bottom.</li>
	<li>	First button is the speak button. If you click the speak button whole detected text will be read out in the speak mode. </li>
	<li>	But if you want to pronounce a single word or a phrase select it by long clicking it and then click the speak button.</li>
	<li>	Second button is the dictionary button.You can select a word and click the dictionary button to get the definitions of that word. You should be connected to the internet for this. After receiving definitions you can save the word for later reference.</li>
	<li>	Third button is the comment button from where you can save a comment on a selected phrase of detected text. The comment can also be linked with a book in the library.</li>
</ol>
<h3>Saved Items</h3>
From here you can access and search the previously saved words and comments as you like.
<h3>Alphabet Game</h3>
This is a small learning activity intended for small children to learn the alphabet with interaction.
    <h4>Letter Placement</h4>
<ol>
	<li>	After you click the Alphabet Game button on the menu you will see an interface like AR view. You can place randomly selected letters all around you by tapping on the detected planes. The app will pronounce the placed letter giving children the chance to identify the letter.</li>
	<li>	If you click the Change Letter button you can select and fix a letter to be generated when you tap the screen again.</li>
</ol>
<h4>The Game</h4>
	The Start Game button starts the activity. In this activity 6 random letters will be placed around you automatically and you have to select the relevant letter as the app's instructions. After all 6 letters are found the game will end.

<h3>Settings</h3>
On the settings popup you can adjust some criterias according to your preference.
<ul>
	<li>Theme - you can change between light and dark themes.</li>
	<li>	Text size - you can set text size of detections to Small, Medium or Large.</li>
	<li>	Voice Support - if switched active app will read out all the toast messages you receive. It is mostly intended for small children.</li>
	<li>	Audio settings - you can adjust the pitch and the speed of the app's voice including speak mode and voice support.</li>
</ul>

List of books already available in the system
Ar content available - Inferno, Icon(Animated), A Column of Fire,The Separation, Conspiracy of Evil
Without content - Collections, Artemis Fowl, A Game of Thrones, The Hunger Games

</div>