<button (click)="closeModal()" class="close-button" mat-icon-button aria-label="Button to close the form">
        <mat-icon>close</mat-icon>
      </button>
<h2 mat-dialog-title>Add Book</h2>
<mat-dialog-content>

      
          <div *ngIf="saving" class="submitting-spinner">
            <mat-progress-spinner diameter="30"   mode="indeterminate"></mat-progress-spinner>
          </div>
          <div class="container" fxFlex="100" fxLayout="row" [style.opacity]="saving ? 0.7 : 1">
            
              <div class="form-side" fxLayout="column" fxFlex="50">
                <form [formGroup]="addBookForm" (ngSubmit)="onSubmit">
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput name="title" formControlName="title" type="text">
                <mat-error *ngIf="title.invalid && (title.dirty || title.touched) && title.errors.required">
                  Title is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>ISBN</mat-label>
                <input matInput name="isbn" formControlName="isbn" type="text">
                <!-- <mat-hint>ISBN must be unique</mat-hint> -->
                <mat-error *ngIf="isbn.invalid && (isbn.dirty || isbn.touched) && (isbn.errors.required || isbn.errors.invalidISBN)">
                  A valid ISBN is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label for="author">Author</mat-label>
                <input matInput name="author" formControlName="author" type="text">
                <mat-error *ngIf="author.invalid && (author.dirty || author.touched) && author.errors.required">
                  Author is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label for="publisher">Publisher</mat-label>
                <input matInput name="publisher" formControlName="publisher" readonly type="text">
              </mat-form-field>
            </div>

          </form></div>
              <div fxLayout="column" class="form-side">
                <div>
<app-file-upload label="Book Covers" hint="Upload at least 1 cover picture (max. 3). Use HQ images with 1.6:1 height/width ratio." [max]="maxFiles" (changed)="onFilesChange($event)" (uploaded)="onUploadComplete($event)">
                </app-file-upload>

                </div>
                <div style="margin-top:10px;width:100% ">
                 <button style="width:100%" (click)="onSubmit()"color="primary" mat-flat-button type="submit" [disabled]="!addBookForm.valid || fileError|| saving">Add Book</button>
               </div>
              </div>

          </div>
    


</mat-dialog-content>