<div class="page-content header ">
    <h1>About</h1>

    Livra, the mobile application and this accompanying web application was created for the Software Engineering Project module in the Semester 5 of Department of Computer Science and Engineering, University of Moratuwa. This web application allows interested book publishers to add augmented reality content related to their books, which can then be downloaded and viewed by users using the Livra mobile application.
</div>
<div class="page-content content">
    <h1>The Team</h1>

    <div fxLayout="column" fxLayout.gt-sm="row">
        <div class="info" fxFlex="25">
            <img src="https://github.com/chamikacn.png?size=256" />
            <h4><a href="https://github.com/chamikaCN">@chamikaCN</a></h4>
        </div>
        <div class="info" fxFlex="25">
            <img src="https://github.com/icepm97.png?size=256" />
            <h4><a href="https://github.com/icepm97">@icepm97</a></h4>
        </div>
        <div class="info" fxFlex="25">
            <img src="https://github.com/NilaanL.png?size=256" />
            <h4><a href="https://github.com/NilaanL">@NilaanL</a></h4>
        </div>
        <div class="info" fxFlex="25">
            <img src="https://github.com/thamidurm.png?size=256" />
            <h4><a href="https://github.com/thamidurm">@thamidurm</a></h4>
        </div>
    </div>
</div>
<div class="page-content">
    <h4>Credits:</h4>
    <small><a href="https://www.freepik.com/vectors/hand">Hand vector created by freepik - www.freepik.com</a></small><br>
    <small>Icons made by <a href="https://www.flaticon.com/authors/srip" title="srip">srip</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></small><br>
    <small>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></small><br>
    <small>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></small>
</div>