<button (click)="closeModal()" class="close-button" mat-icon-button aria-label="Button to close the form">
        <mat-icon>close</mat-icon>
      </button>


<h2 mat-dialog-title>{{ (!reset) ? 'Login as a Publisher' : 'Reset Password'}}</h2>
<mat-dialog-content *ngIf="!reset">

<div *ngIf="submitting" class="submitting-spinner" >
      <mat-progress-spinner diameter="30"   mode="indeterminate"></mat-progress-spinner>
    </div>
   
      {{ error }}
       <form [style.opacity]="submitting ? 0.7 : 1" action="" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <mat-grid-list cols="1" rowHeight="100px">

  <mat-grid-tile>
    <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>

    <input matInput [disabled]="submitting" formControlName="email" type="email" name="email" placeholder="user@example.com" required>
    <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
        <p *ngIf="email.errors.required || email.errors.invalidPattern">
            A valid email is required
        </p>
    </mat-error>
  </mat-form-field>
</mat-grid-tile>
  <mat-grid-tile>  <mat-form-field appearance="outline">
 <mat-label>Password</mat-label>
  <input matInput [disabled]="submitting" formControlName="password" type="password" name="password" required>
    <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
        <span *ngIf='password.errors.required; else lengthBlock'>
            Password is required
        </span>
         <ng-template #lengthBlock>
                    <span *ngIf='password.errors.minlength'>
            Password must be at least 8 characters
            </span>
                   <span *ngIf='password.errors.invalidPattern'>
            Password should have ...
        </span>
         </ng-template>


    </mat-error>
     </mat-form-field></mat-grid-tile>

</mat-grid-list>

<button style="width:100%;margin-top:3px;padding:5px"  color="primary" mat-flat-button type="submit" [disabled]="!loginForm.valid || submitting">Login</button>
<!--<div>
  <a href="#" (click)="showReset()">Forgot Password?</a>
  </div>-->
</form>


</mat-dialog-content>


<mat-dialog-content *ngIf="reset">

<div *ngIf="resetSubmitting" class="submitting-spinner" >
      <mat-progress-spinner diameter="30"   mode="indeterminate"></mat-progress-spinner>
    </div>

      <p>
        Please enter your email in the input below to receive a password reset link
      </p>
  
       <form [style.opacity]="resetSubmitting ? 0.7 : 1" action="" [formGroup]="resetForm" (ngSubmit)="onResetSubmit()">

    <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>

    <input matInput [disabled]="resetSubmitting" formControlName="reset_email" type="email" name="email" placeholder="user@example.com" required>
    <mat-error *ngIf="reset_email.invalid && (reset_email.dirty || reset_email.touched)">
        <p *ngIf="reset_email.errors.required || reset_email.errors.invalidPattern">
            A valid email is required
        </p>
    </mat-error>
  </mat-form-field>

<button style="width:100%;margin-top:3px;padding:5px"  color="primary" mat-flat-button type="submit" [disabled]="!resetForm.valid || resetSubmitting">Request Code</button>
<div style="text-align:center;font-size:16px;">
  <br/>
  <!--<p><a style="color:gray;text-decoration:none" href="#" (click)="showReset()"><< Back To Login</a></p>-->
  </div>
</form>


</mat-dialog-content>