<div *ngIf="loading" class="d-flex justify-content-center align-items-center my-5" >
  <mat-progress-spinner diameter="30" mode="indeterminate"></mat-progress-spinner>
</div>

<div *ngIf="!loading" class="container" style="background-color:#fff">
  <div class="row">
    <div class="col-sm-6 col-md-8">
      <img [src]="content?.images[0]" alt="" class="img-fluid">
    </div>
    <div class="col">
      <h3 class="font-weight-bold mt-4  ">{{ content?.title}}</h3>
      <h4>by <span  class="font-italic">{{ content?.creator?.name }}</span></h4>

        <div *ngIf="content?.creator.id == user.id"> <button routerLink='/content/edit/{{content?.id}}' mat-icon-button color="primary" aria-label="Edit Content Details Button">
    <mat-icon>edit</mat-icon>
  </button>
   <button (click)="delete()" mat-icon-button color="warn" aria-label="Delete Content Button">
    <mat-icon>delete</mat-icon>
  </button>
  <a [href]="content?.file" mat-icon-button aria-label="Download File Button">
    <mat-icon>cloud_download</mat-icon>
  </a>

  </div>
      <p class="font-weight-light text-break">
        {{ content?.description }}
      </p>
    </div>
  </div>
</div>

