.content-details{
	height:calc(100vh - 64px);
}
.preview-container{
		overflow:hidden;
}
.content-preview{

	width:100%;height:auto;
	outline: 20px white solid;
	box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.3);
}
h1,h3{
	margin:0;
}
mat-icon{
	font-size:28px;
	width:28px;
	height:28px;
}

.book-cover{
display:block;
		width:100%;height:auto;
}