<div class="container" style="background-color:#fff">
  <div class="row">
    <div class="col-sm-6 col-md-8">
      <img [src]="content?.images[0]" alt="" class="img-fluid">
    </div>
    <div class="col">
      <h3 class="font-weight-bold mt-4  ">{{ content?.title}}</h3>
      <h4>by <span  class="font-italic">{{ content?.creator?.name }}</span></h4>
        
        <div *ngIf="content?.creator.id == user.id"> <button routerLink='/content/edit/{{content?.id}}' mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
    <mat-icon>edit</mat-icon>
  </button>
   <button (click)="delete()" mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
    <mat-icon>delete</mat-icon>
  </button> 
  </div>
      <p class="font-weight-light text-break">
        {{ content?.description }}
      </p>
    </div>
  </div>
</div>

