<button (click)="closeModal()" class="close-button" mat-icon-button aria-label="Button to close the form">
        <mat-icon>close</mat-icon>
      </button>
<h2 mat-dialog-title>Add Content</h2>
<mat-dialog-content>
  <form [formGroup]="editContentForm" (ngSubmit)="onSubmit">
          <div *ngIf="loading" class="d-flex justify-content-center align-items-center my-5" >
            <mat-progress-spinner diameter="30"   mode="indeterminate"></mat-progress-spinner>
          </div>
          <div *ngIf="saving" class="submitting-spinner" >
            <mat-progress-spinner diameter="30"   mode="indeterminate"></mat-progress-spinner>
          </div>
      <div class="container" fxFlex="100" fxLayout="row" [style.opacity]="saving ? 0.7 : 1">
        <div class="form-side" fxLayout="column" fxFlex="50">
                
            <div class="form-group">
             <mat-form-field appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput name="title" formControlName="title" type="text">
                <mat-error *ngIf="title.invalid && (title.dirty || title.touched) && title.errors.required">
                  Title is required
                </mat-error>
              </mat-form-field>
            </div>
               <div class="form-group">
           <mat-form-field appearance="outline">
  <mat-label>Book</mat-label>
  <mat-select formControlName="book">
    <mat-option [value]="book.id" *ngFor="let book of (books)">
      {{book.title}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="book.invalid && (book.dirty || book.touched) && book.errors.required">
    A book is required
  </mat-error>
</mat-form-field>
            </div>
            <div class="form-group">
             <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput name="description" formControlName="description">
                </textarea>
                <mat-hint align="end">{{description.value?.length || 0}}/280</mat-hint>
                <mat-error *ngIf="description.invalid && (description.dirty || description.touched) && description.errors.required">
                  A description of minimum 100 characters is required
                </mat-error>
              </mat-form-field>
            </div>

                            <div>
                <mat-checkbox color="primary" formControlName="animated">Animated?</mat-checkbox>

              </div>
          </div>
           <div fxLayout="column" class="form-side" fxLayoutAlign="center center" fxFlex="50">
                <div>

 <app-file-upload label="AR Content" #fileUpload [max]="maxFiles" type="files" (changed)="onFileInputChange($event)" [existingFiles]="existingFile.asObservable()" (uploaded)="onFileUploadComplete($event)">
              </app-file-upload>  </div>

<div>
              <app-file-upload label="Preview Images" #imageUpload [max]="maxImageFiles" (changed)="onImageInputChange($event)" type="images" (uploaded)="onImageUploadComplete($event)" [existingFiles]="existingImages.asObservable()">
              </app-file-upload>

               </div>
                <div style="margin-top:10px">
                 <button style="width:100%" (click)="onSubmit()" color="primary" mat-flat-button type="submit" [disabled]="!editContentForm.valid || fileError || imageError || saving">Save Changes</button>
                    </div>
              </div>

          </div>
    

</form>
</mat-dialog-content>