<div fxLayout="column">
    <div class="page-content header" fxLayout="column" fxFlex="100">
    <h1>User Guides</h1>
<p style="text-align:justify">The following resources can be used to get familiar with the Livra ecosystem whether you are a publisher using
    the web application or an end-user using the mobile application. If you want to access the user guide of the mobile application, please click the link in the box below to the left. If you wish to access the user guide for the web application please click the link in the box to the right below.
</p>
    </div>

<div fxLayout="column" fxLayout.gt-md="row" fxFlex="100" style="margin-bottom: 50px;">
    <div fxLayout="column" fxFlex="50" fxLayoutAlign="center center">
        <h2>Mobile App User Guide</h2>
        <div class="guide-image-container"><img class="img" src="assets/app.svg"></div>
        <button mat-stroked-button routerLink="mobile">See User Guide</button>
    </div>
    <div fxLayout="column" fxFlex="50" fxLayoutAlign="center center">
        <h2>Publisher Web App User Guide</h2>
        <div class="guide-image-container"><img class="img" src="assets/code.svg"></div>
        <button mat-stroked-button routerLink="publisher">See User Guide</button>
    </div>

</div>
</div>
