<div class="container p-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body position-relative">
          <h5 class="card-title text-center">Add Content</h5>
          <div *ngIf="saving" class="submitting-spinner" >
            <mat-progress-spinner diameter="30"   mode="indeterminate"></mat-progress-spinner>
          </div>
          <div class="container mt-3" [style.opacity]="saving ? 0.7 : 1">
            <div class="row">
              <div class="col">
                <form [formGroup]="addContentForm" (ngSubmit)="onSubmit">
            <div class="form-group">
              <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput name="title" formControlName="title" type="text">
                <mat-error *ngIf="title.invalid && (title.dirty || title.touched) && title.errors.required">
                  Title is required
                </mat-error>
              </mat-form-field>
            </div>
               <div class="form-group">
            <mat-form-field>
  <mat-label>Book</mat-label>
  <mat-select formControlName="book">
    <mat-option value="" disabled>
      Select book
    </mat-option>
    <mat-option [value]="book.id" *ngFor="let book of (books$ | async)">
      {{book.title}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="book.invalid && (book.dirty || book.touched) && book.errors.required">
    A book is required
  </mat-error>
</mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea matInput name="description" formControlName="description">
                </textarea>
                <mat-hint align="end">{{description.value?.length || 0}}/280</mat-hint>
                <mat-error *ngIf="description.invalid && (description.dirty || description.touched) && description.errors.required">
                  A description of minimum 100 characters is required
                </mat-error>
              </mat-form-field>


            </div>
          </form></div>
              <div class="col">

 <app-file-upload label="AR Content"  #fileUpload [max]="maxFiles" type="files" (changed)="onFileInputChange($event)" (uploaded)="onFileUploadComplete($event)">
              </app-file-upload>

              <app-file-upload label="Preview Images"  #imageUpload [max]="maxImageFiles" (changed)="onImageInputChange($event)" type="images" (uploaded)="onImageUploadComplete($event)">
              </app-file-upload>
                 <button class="w-100 p-1" (click)="onSubmit()"color="primary" mat-flat-button type="submit" [disabled]="!addContentForm.valid || fileError || imageError || saving">Add Content</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

