<div fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
	<div fxLayout="column" fxLayoutAlign="center center" fxFlex="100">
		<div *ngIf="valid === false">
			The code is invalid
		</div>
		<div *ngIf="valid" style="width:300px" fxFlex="100" fxLayout="column" >
			    <form [style.opacity]="submitting ? 0.7 : 1" action="" [formGroup]="pwdForm" (ngSubmit)="onSubmit()">

  <mat-grid-list cols="1" rowHeight="100px">

  <mat-grid-tile>
<mat-form-field appearance="outline">    <mat-label>Password</mat-label>
    <input matInput formControlName="password" name="password" type="password" required>
    <mat-hint>Password should contain at least 8 non whitespace characters</mat-hint>
        <mat-error *ngIf="password.invalid && (password.dirty || password.touched) && password.errors?.required">
            A valid password is required
        </mat-error>
        <mat-error *ngElse="password.invalid && (password.dirty || password.touched) && password.errors?.invalidPattern">
            must have non whitespace characters
        </mat-error>
        <mat-error *ngIf="password.invalid && (password.dirty || password.touched) && password.errors?.minlength">
            must be at least 8 characters
        </mat-error>
        
  </mat-form-field>
</mat-grid-tile>
  <mat-grid-tile> 

	<mat-form-field appearance="outline">    <mat-label>Password (Confirm)</mat-label>
    <input matInput formControlName="confirm" name="confirm" type="password" [errorStateMatcher]="matcher" required>
        <mat-error *ngIf="confirm.invalid && (confirm.dirty || confirm.touched) && confirm.errors?.required">
            Confirmation is required
        </mat-error>
        <mat-error *ngIf="pwdForm.errors?.unmatchingPasswords">
            Confirmation does not match
        </mat-error>
</mat-form-field>
  </mat-grid-tile>

</mat-grid-list>

<button style="width:100%;margin-top:3px;padding:5px"  color="primary" mat-flat-button type="submit" [disabled]="!pwdForm.valid || submitting">Change Password</button>


</form>
		</div>
	</div>
</div>
