<div class="page-content">


    <h1>
        Web Platform
    </h1> 
    You can add books and content to the web platform which can be used by all the users of the system. At first you have to create an account as a publisher.
    
    <h3>
        Registration
    </h3>
    <ol>
        <li>	Go to our Livra web platform by clicking the following link. <a href="https://ar-content-platform.github.io/">https://ar-content-platform.github.io/</a></li>
        <li>    	Click the ‘Publishers’ button on the top right hand corner and select ‘register’.</li>
        <li>    	Add your details according to the given descriptions and click Register.</li>
        <li>    	Login to the account with those credentials.</li>
    </ol>
    <h3>
        Adding a book
    </h3>
    <ol>
        <li>	Click the ‘Add book’ option on the top navigation panel.</li>
        <li>    	Fill the required details about the book.</li>
        <li>    	You can add up to 3 images, but the first image will be used as the main cover image of the book. Then add the book to the platform.</li>
    </ol>    
    <h3>
        Adding content
    </h3>
    <ol>
        <li>	Click the ‘Add content’ option right next to the previous one and fill the details.</li>
        <li>    	You can link your content only with a book added through your account.</li>
        <li>    	The content must have at least 100 character long description.</li>
        <li>    	If the content you are uploading has embedded animation, check the ‘Animated?’ checkbox  at the bottom.</li>
        <li>    	Same as books the first image of the three images will be used as the cover image for that content.</li>
        <li>    	Currently all the content you upload should be in the format of ‘.sfb’ for our app to recognize and render your content successfully.</li>
        <li>    	Now you can add the content.</li>
    </ol>
    
    </div>
