<div>

<div *ngIf="loading" fxLayout="row" fxFlex="100" fxLayoutAlign="center center" >
  <div fxLayout="column" fxFlex="100" fxLayoutAlign="center center" >
    <div style="height:50px; width:50px; margin-top:50px;">
    <mat-progress-spinner diameter="30" *ngIf="loading"  mode="indeterminate"></mat-progress-spinner>
  </div>
  </div>
</div>
</div>
<div *ngIf="!loading" class="container" style="">
  <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="100" >
    <div  fxLayout="column" fxLayoutAlign="end stretch" style="background-color:#718792;overfow:hidden;" fxFlex.gt-sm="40" fxFlex.lt-md="100">
      <div class="left" fxLayout="row" fxLayoutAlign="center center" fxFlex="100" >
      <div fxLayout="column" fxLayoutAlign="center center"fxFlex="100" style="overflow:hidden" >
        <img style="display:block;max-width:300;max-height:360px;" [src]="book?.covers[0] || 'https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Placeholder_book.svg/792px-Placeholder_book.svg.png'" />
      </div>
    </div>
      <div fxLayout="column" fxLayoutAlign="stretch center" class="book-details">
                        <div *ngIf="book?.publisher?.id == user.id">
   <button matTooltip="Edit Book" (click)="openEditBook()" mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
    <mat-icon>edit</mat-icon>
  </button>
   <button matTooltip="Delete Book" (click)="delete()" mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
    <mat-icon>delete</mat-icon>
  </button>
  </div>
        <div>
          <h1>{{book?.title}}</h1>      
        </div>
        <div>
         <h3 style="font-style:itallic;">by {{book?.authors.join(', ') }}</h3>
        </div>
        <div>
    <ul class="list-unstyled">
        <li class="">Publisher -  {{book?.publisher?.name  }}</li>
        <li class="">ISBN(s) - {{book?.isbns.join(', ')  }}</li>
    </ul>
        </div>
        
      </div>
    </div>
    <div fxLayout="column" class="content-list" fxFlex="100">
      <h3 style="text-align:left;margin-bottom:10px;">Related Content</h3>

   <div *ngIf="!loading && ((content.asObservable() | async)?.length == 0)" class="m-5" fxLayout="row"  fxFlex="90" fxLayoutAlign="center center">

    
      <div fxLayout="column" fxLayoutAlign="center center">
  
        <div>
        <img style="display:block;margin-top:20px;" src="assets/box.svg" width="128" height="128">
      </div>
      <div>
        <p style="font-weight:lighter; text-align:center">This book does not have any augmented reality content yet!</p>
      </div>
      </div>
    </div>

      <app-card-list spacing="2.5"  [content]="content.asObservable()" [user]="user"></app-card-list>
    </div>
  </div>
</div>


