<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">AR Platform</h1>
    <p class="lead">Where publishers can add Augment Reality content to books.</p>
  </div>
</div>
<div class="container">

  <div class="row text-center">
    <div class="col">
      <mat-icon style="width:64px;font-size:64px;text-align: center;">menu_book</mat-icon>
    <p class="font-weight-bold">Books</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nunc nibh, porttitor eu turpis nec, molestie blandit nisi. Vestibulum faucibus libero eu nibh iaculis, in iaculis est scelerisque.</p>

    </div>
    <div class="col">
      <mat-icon style="width:64px;font-size:64px;text-align: center;">visibility</mat-icon>
      <p class="font-weight-bold">AR Content</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nunc nibh, porttitor eu turpis nec, molestie blandit nisi. Vestibulum faucibus libero eu nibh iaculis, in iaculis est scelerisque.</p>

    </div>
    <div class="col">
      <mat-icon style="width:64px;font-size:64px;text-align: center;">sentiment_satisfied_alt</mat-icon>
      <p class="font-weight-bold">Publishers</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nunc nibh, porttitor eu turpis nec, molestie blandit nisi. Vestibulum faucibus libero eu nibh iaculis, in iaculis est scelerisque.</p>
    </div>
  </div>


  <div class="row">
    <div class="col">

    </div>
  </div>
</div>
